*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol
      *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 24px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.text div {
  padding: 4px 12px;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  min-width: 138px;
  user-select: none;
}
